USE [SaleInv_DB]
GO
/****** Object:  Table [dbo].[TBL_Users]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Users](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](max) NULL,
	[UserPass] [varchar](max) NULL,
	[Access_Type] [varchar](50) NULL,
	[lastname] [varchar](50) NULL,
	[firstname] [varchar](50) NULL,
	[middlename] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[contact] [varchar](50) NULL,
	[local_number] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Users] ON
INSERT [dbo].[TBL_Users] ([User_ID], [Username], [UserPass], [Access_Type], [lastname], [firstname], [middlename], [address], [contact], [local_number]) VALUES (9, N'admin', N'admin', N'Administrator', N'admin', N'admin', N'admin', N'admin', N'1234', N'1')
INSERT [dbo].[TBL_Users] ([User_ID], [Username], [UserPass], [Access_Type], [lastname], [firstname], [middlename], [address], [contact], [local_number]) VALUES (12, N'cashier', N'cashier', N'Cashier', N'cashier', N'cashier', N'cashier', N'cashier', N'1234', NULL)
INSERT [dbo].[TBL_Users] ([User_ID], [Username], [UserPass], [Access_Type], [lastname], [firstname], [middlename], [address], [contact], [local_number]) VALUES (13, N'stock', N'stock', N'Stock Room', N'stock', N'stock', N'stock', N'stock', N'123213', N'3')
SET IDENTITY_INSERT [dbo].[TBL_Users] OFF
/****** Object:  Table [dbo].[TBL_Unit_Measure]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Unit_Measure](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [text] NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_TBL_Unit_Measure] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Unit_Measure] ON
INSERT [dbo].[TBL_Unit_Measure] ([ID], [Code], [Description]) VALUES (1, N'PC', N'Piece(s)')
INSERT [dbo].[TBL_Unit_Measure] ([ID], [Code], [Description]) VALUES (2, N'Bx', N'Box(s)')
INSERT [dbo].[TBL_Unit_Measure] ([ID], [Code], [Description]) VALUES (5, N'Sk', N'Sack(s)')
SET IDENTITY_INSERT [dbo].[TBL_Unit_Measure] OFF
/****** Object:  Table [dbo].[TBL_Suppliers_Product]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Suppliers_Product](
	[Prod_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Supp_ID] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[Prod_Name] [varchar](max) NULL,
	[Item_Price] [money] NULL,
	[Catg_ID] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Suppliers_Product] ON [dbo].[TBL_Suppliers_Product] 
(
	[Supp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Suppliers_Product_1] ON [dbo].[TBL_Suppliers_Product] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Suppliers_Product] ON
INSERT [dbo].[TBL_Suppliers_Product] ([Prod_ID], [Supp_ID], [Item_ID], [Prod_Name], [Item_Price], [Catg_ID]) VALUES (123, 5, 1, N'Bumper Support', 168.0000, 1)
INSERT [dbo].[TBL_Suppliers_Product] ([Prod_ID], [Supp_ID], [Item_ID], [Prod_Name], [Item_Price], [Catg_ID]) VALUES (124, 5, 2, N'Bumper Support', 168.0000, 1)
INSERT [dbo].[TBL_Suppliers_Product] ([Prod_ID], [Supp_ID], [Item_ID], [Prod_Name], [Item_Price], [Catg_ID]) VALUES (125, 5, 3, N'Center Bearing Assembly', 757.1200, 2)
SET IDENTITY_INSERT [dbo].[TBL_Suppliers_Product] OFF
/****** Object:  Table [dbo].[TBL_Suppliers]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Suppliers](
	[Supp_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SuppName] [varchar](max) NULL,
	[SuppAdd] [varchar](max) NULL,
	[SuppContact] [varchar](max) NULL,
	[ContactPerson] [varchar](max) NULL,
	[supplocal] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Supp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Suppliers] ON [dbo].[TBL_Suppliers] 
(
	[Supp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Suppliers] ON
INSERT [dbo].[TBL_Suppliers] ([Supp_ID], [SuppName], [SuppAdd], [SuppContact], [ContactPerson], [supplocal]) VALUES (1, N'Eco Parts Commercial', N'917-B Aurora Boulevard Silangan Cubao Quezon City', N'912-4732', N'', N'')
INSERT [dbo].[TBL_Suppliers] ([Supp_ID], [SuppName], [SuppAdd], [SuppContact], [ContactPerson], [supplocal]) VALUES (2, N'Anson Auto Supply Co.', N'1505 Batangas Street, Sta. Cruz, Manila', N'254-2232', N'', N'')
INSERT [dbo].[TBL_Suppliers] ([Supp_ID], [SuppName], [SuppAdd], [SuppContact], [ContactPerson], [supplocal]) VALUES (3, N'Rings Marketing', N'', N'721-17-03', N'', N'')
SET IDENTITY_INSERT [dbo].[TBL_Suppliers] OFF
/****** Object:  Table [dbo].[TBL_Stocks_Balances]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Stocks_Balances](
	[Stock_Bal_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Item_ID] [bigint] NULL,
	[Item_QTY] [bigint] NULL,
	[Item_Description] [text] NULL,
	[Item_Barcode] [bigint] NULL,
	[Item_Price] [money] NULL,
	[PASSWORD_INPUTED] [text] NULL,
	[DIRECT_INPUT] [text] NULL,
	[Unit_Measure] [text] NULL,
 CONSTRAINT [PK_TBL_Stocks_Balances_1] PRIMARY KEY CLUSTERED 
(
	[Stock_Bal_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Stocks_Balances_1] ON [dbo].[TBL_Stocks_Balances] 
(
	[Item_Barcode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Stocks_Balances_2] ON [dbo].[TBL_Stocks_Balances] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Stocks_Balances] ON
INSERT [dbo].[TBL_Stocks_Balances] ([Stock_Bal_ID], [Item_ID], [Item_QTY], [Item_Description], [Item_Barcode], [Item_Price], [PASSWORD_INPUTED], [DIRECT_INPUT], [Unit_Measure]) VALUES (1, 14, 5, N'48328', 718263, 201.6000, N'No', N'No', N'Piece(s)')
INSERT [dbo].[TBL_Stocks_Balances] ([Stock_Bal_ID], [Item_ID], [Item_QTY], [Item_Description], [Item_Barcode], [Item_Price], [PASSWORD_INPUTED], [DIRECT_INPUT], [Unit_Measure]) VALUES (2, 15, 10, N'48892', 89034, 151.2000, N'No', N'No', N'Piece(s)')
INSERT [dbo].[TBL_Stocks_Balances] ([Stock_Bal_ID], [Item_ID], [Item_QTY], [Item_Description], [Item_Barcode], [Item_Price], [PASSWORD_INPUTED], [DIRECT_INPUT], [Unit_Measure]) VALUES (3, 16, 16, N'48881', 567434, 100.8000, N'No', N'No', N'Piece(s)')
SET IDENTITY_INSERT [dbo].[TBL_Stocks_Balances] OFF
/****** Object:  Table [dbo].[TBL_Sales_Void]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Sales_Void](
	[Void_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Sales_ID] [bigint] NULL,
	[Receipt_ID] [bigint] NULL,
	[Void_Date] [date] NULL,
 CONSTRAINT [PK_TBL_Sales_Void] PRIMARY KEY CLUSTERED 
(
	[Void_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Void] ON [dbo].[TBL_Sales_Void] 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Void_1] ON [dbo].[TBL_Sales_Void] 
(
	[Receipt_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Sales_Void] ON
INSERT [dbo].[TBL_Sales_Void] ([Void_ID], [Sales_ID], [Receipt_ID], [Void_Date]) VALUES (1, 1, 1, CAST(0xF7330B00 AS Date))
INSERT [dbo].[TBL_Sales_Void] ([Void_ID], [Sales_ID], [Receipt_ID], [Void_Date]) VALUES (2, 3, 3, CAST(0xF7330B00 AS Date))
INSERT [dbo].[TBL_Sales_Void] ([Void_ID], [Sales_ID], [Receipt_ID], [Void_Date]) VALUES (3, 6, 6, CAST(0xF7330B00 AS Date))
SET IDENTITY_INSERT [dbo].[TBL_Sales_Void] OFF
/****** Object:  Table [dbo].[TBL_Sales_Sold_Detail]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Sales_Sold_Detail](
	[Sales_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Sales_ID] [bigint] NOT NULL,
	[Item_ID] [bigint] NULL,
	[Item_Name] [varchar](max) NULL,
	[Item_Description] [varchar](max) NULL,
	[Item_Price] [money] NULL,
	[Item_Qty] [bigint] NULL,
	[Total_Price] [money] NULL,
	[Added_QTY] [bigint] NULL,
 CONSTRAINT [PK_TBL_Sales_Sold_Detail] PRIMARY KEY CLUSTERED 
(
	[Sales_Detail_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Sold_Detail_1] ON [dbo].[TBL_Sales_Sold_Detail] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Sold_Detail_2] ON [dbo].[TBL_Sales_Sold_Detail] 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Sales_Sold_Detail] ON
INSERT [dbo].[TBL_Sales_Sold_Detail] ([Sales_Detail_ID], [Sales_ID], [Item_ID], [Item_Name], [Item_Description], [Item_Price], [Item_Qty], [Total_Price], [Added_QTY]) VALUES (1, 1, 1, N'Bumper Support - 2 QTY Return Product(s)', N'MB-109915', 168.0000, 3, 504.0000, 0)
INSERT [dbo].[TBL_Sales_Sold_Detail] ([Sales_Detail_ID], [Sales_ID], [Item_ID], [Item_Name], [Item_Description], [Item_Price], [Item_Qty], [Total_Price], [Added_QTY]) VALUES (2, 1, 2, N'Bumper Support', N'MB-109916', 168.0000, 5, 840.0000, 0)
INSERT [dbo].[TBL_Sales_Sold_Detail] ([Sales_Detail_ID], [Sales_ID], [Item_ID], [Item_Name], [Item_Description], [Item_Price], [Item_Qty], [Total_Price], [Added_QTY]) VALUES (3, 1, 3, N'Center Bearing Assembly', N'1-37510-105-10', 757.1200, 2, 1514.2400, 0)
SET IDENTITY_INSERT [dbo].[TBL_Sales_Sold_Detail] OFF
/****** Object:  Table [dbo].[TBL_Sales_Sold]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Sales_Sold](
	[Sales_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Sales_Date] [date] NULL,
	[User_ID] [bigint] NULL,
	[Amount_Due] [money] NULL,
	[Amount_Receive] [money] NULL,
	[Amount_Change] [money] NULL,
	[Order_No] [bigint] NULL,
 CONSTRAINT [PK_TBL_Sales_Sold] PRIMARY KEY CLUSTERED 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Sales_Sold] ON
INSERT [dbo].[TBL_Sales_Sold] ([Sales_ID], [Sales_Date], [User_ID], [Amount_Due], [Amount_Receive], [Amount_Change], [Order_No]) VALUES (1, CAST(0xF7330B00 AS Date), NULL, 4972.3520, 5000.0000, 27.6480, 0)
INSERT [dbo].[TBL_Sales_Sold] ([Sales_ID], [Sales_Date], [User_ID], [Amount_Due], [Amount_Receive], [Amount_Change], [Order_No]) VALUES (2, CAST(0xF7330B00 AS Date), NULL, 500.4200, 501.0000, 0.5800, 1)
INSERT [dbo].[TBL_Sales_Sold] ([Sales_ID], [Sales_Date], [User_ID], [Amount_Due], [Amount_Receive], [Amount_Change], [Order_No]) VALUES (3, CAST(0xF7330B00 AS Date), NULL, 675.1400, 700.0000, 24.8600, 2)
SET IDENTITY_INSERT [dbo].[TBL_Sales_Sold] OFF
/****** Object:  Table [dbo].[TBL_Sales_Receipt]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Sales_Receipt](
	[Receipt_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Sales_ID] [bigint] NULL,
	[Vatable] [money] NULL,
	[VAT_Exempt_Sale] [money] NULL,
	[VATZero_Rated_Sale] [money] NULL,
	[Total_Sale] [money] NULL,
	[VAT] [money] NULL,
	[Amount_Due] [money] NULL,
	[User_ID] [bigint] NULL,
	[Receipt_Date] [date] NULL,
	[Void] [varchar](50) NULL,
	[Order_No] [bigint] NULL,
 CONSTRAINT [PK_TBL_Sales_Receipt] PRIMARY KEY CLUSTERED 
(
	[Receipt_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Receipt] ON [dbo].[TBL_Sales_Receipt] 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Receipt_1] ON [dbo].[TBL_Sales_Receipt] 
(
	[Receipt_Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Sales_Receipt_2] ON [dbo].[TBL_Sales_Receipt] 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Sales_Receipt] ON
INSERT [dbo].[TBL_Sales_Receipt] ([Receipt_ID], [Sales_ID], [Vatable], [VAT_Exempt_Sale], [VATZero_Rated_Sale], [Total_Sale], [VAT], [Amount_Due], [User_ID], [Receipt_Date], [Void], [Order_No]) VALUES (1, 1, 4439.6000, 0.0000, NULL, 4439.6000, 532.7500, 4972.3500, 12, CAST(0xF7330B00 AS Date), N'Yes', 0)
INSERT [dbo].[TBL_Sales_Receipt] ([Receipt_ID], [Sales_ID], [Vatable], [VAT_Exempt_Sale], [VATZero_Rated_Sale], [Total_Sale], [VAT], [Amount_Due], [User_ID], [Receipt_Date], [Void], [Order_No]) VALUES (2, 2, 446.8000, 0.0000, NULL, 446.8000, 53.6200, 500.4200, 12, CAST(0xF7330B00 AS Date), N'No', 1)
INSERT [dbo].[TBL_Sales_Receipt] ([Receipt_ID], [Sales_ID], [Vatable], [VAT_Exempt_Sale], [VATZero_Rated_Sale], [Total_Sale], [VAT], [Amount_Due], [User_ID], [Receipt_Date], [Void], [Order_No]) VALUES (3, 3, 602.8000, 0.0000, NULL, 602.8000, 72.3400, 675.1400, 9, CAST(0xF7330B00 AS Date), N'Yes', 2)
SET IDENTITY_INSERT [dbo].[TBL_Sales_Receipt] OFF
/****** Object:  Table [dbo].[TBL_Purchase_Order]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Purchase_Order](
	[Purchase_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Supp_ID] [bigint] NULL,
	[Address] [varchar](max) NULL,
	[Delivery_Term] [varchar](max) NULL,
	[Approved] [varchar](50) NULL,
	[Purchased_Date] [date] NULL,
	[Received_Date] [date] NULL,
	[Approveby] [varchar](max) NULL,
	[Direct_Input] [varchar](50) NULL,
	[Supp_Name] [varchar](max) NULL,
	[Purchase_Total] [money] NULL,
 CONSTRAINT [PK_TBL_Purchase_Order] PRIMARY KEY CLUSTERED 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Purchase_Order] ON [dbo].[TBL_Purchase_Order] 
(
	[Supp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Purchase_Order_1] ON [dbo].[TBL_Purchase_Order] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Purchase_Order] ON
INSERT [dbo].[TBL_Purchase_Order] ([Purchase_ID], [Supp_ID], [Address], [Delivery_Term], [Approved], [Purchased_Date], [Received_Date], [Approveby], [Direct_Input], [Supp_Name], [Purchase_Total]) VALUES (1, 1, N'917-B Aurora Boulevard Silangan Cubao Quezon City', N'Paid after deliver', N'Yes', CAST(0xF7330B00 AS Date), CAST(0xF7330B00 AS Date), NULL, N'No', NULL, 11248.0000)
INSERT [dbo].[TBL_Purchase_Order] ([Purchase_ID], [Supp_ID], [Address], [Delivery_Term], [Approved], [Purchased_Date], [Received_Date], [Approveby], [Direct_Input], [Supp_Name], [Purchase_Total]) VALUES (2, 4, N'463 E. Rodriguez Sr. Ave. Tatalon$..$ Quezon City', N'Paid after deliver', N'Yes', CAST(0xF7330B00 AS Date), CAST(0xF7330B00 AS Date), NULL, N'No', NULL, 35710.0800)
INSERT [dbo].[TBL_Purchase_Order] ([Purchase_ID], [Supp_ID], [Address], [Delivery_Term], [Approved], [Purchased_Date], [Received_Date], [Approveby], [Direct_Input], [Supp_Name], [Purchase_Total]) VALUES (3, 6, N'Taft Ave. Ext.$..$ Pasay City', N'Paid after deliver', N'Yes', CAST(0xF7330B00 AS Date), CAST(0xF7330B00 AS Date), NULL, N'No', NULL, 14457.5680)
SET IDENTITY_INSERT [dbo].[TBL_Purchase_Order] OFF
/****** Object:  Table [dbo].[TBL_Purchase_Detail]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Purchase_Detail](
	[Purchase_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Purchase_ID] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[Item_QTY] [bigint] NULL,
	[Item_Price] [money] NULL,
	[Total_Price] [money] NULL,
	[Unit_Measure] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_Purchase_Detail] PRIMARY KEY CLUSTERED 
(
	[Purchase_Detail_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Purchase_Detail] ON [dbo].[TBL_Purchase_Detail] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Purchase_Detail_1] ON [dbo].[TBL_Purchase_Detail] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Purchase_Detail] ON
INSERT [dbo].[TBL_Purchase_Detail] ([Purchase_Detail_ID], [Purchase_ID], [Item_ID], [Item_QTY], [Item_Price], [Total_Price], [Unit_Measure]) VALUES (8, 1, 14, 5, 201.6000, 1008.0000, N'Piece(s)')
INSERT [dbo].[TBL_Purchase_Detail] ([Purchase_Detail_ID], [Purchase_ID], [Item_ID], [Item_QTY], [Item_Price], [Total_Price], [Unit_Measure]) VALUES (9, 1, 15, 10, 151.2000, 1512.0000, N'Piece(s)')
INSERT [dbo].[TBL_Purchase_Detail] ([Purchase_Detail_ID], [Purchase_ID], [Item_ID], [Item_QTY], [Item_Price], [Total_Price], [Unit_Measure]) VALUES (10, 1, 16, 20, 100.8000, 2016.0000, N'Piece(s)')
SET IDENTITY_INSERT [dbo].[TBL_Purchase_Detail] OFF
/****** Object:  Table [dbo].[TBL_Physical_Count_Details]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Physical_Count_Details](
	[PD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[P_ID] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[P_Counts] [bigint] NULL,
	[P_Remarks] [varchar](max) NULL,
	[Total_QTY] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Physical_Count_Details] ON [dbo].[TBL_Physical_Count_Details] 
(
	[P_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Physical_Count_Details_1] ON [dbo].[TBL_Physical_Count_Details] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Physical_Count_Details] ON
INSERT [dbo].[TBL_Physical_Count_Details] ([PD_ID], [P_ID], [Item_ID], [P_Counts], [P_Remarks], [Total_QTY]) VALUES (1, 1, 24, 2, N'', 2)
INSERT [dbo].[TBL_Physical_Count_Details] ([PD_ID], [P_ID], [Item_ID], [P_Counts], [P_Remarks], [Total_QTY]) VALUES (2, 1, 15, 9, N'Missing 1 item(s)', 10)
INSERT [dbo].[TBL_Physical_Count_Details] ([PD_ID], [P_ID], [Item_ID], [P_Counts], [P_Remarks], [Total_QTY]) VALUES (3, 1, 32, 5, N'Missing 1 item(s)', 6)
SET IDENTITY_INSERT [dbo].[TBL_Physical_Count_Details] OFF
/****** Object:  Table [dbo].[TBL_Physical_Count]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Physical_Count](
	[P_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[P_Date] [date] NOT NULL,
	[User_ID] [bigint] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Physical_Count_2] ON [dbo].[TBL_Physical_Count] 
(
	[P_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Physical_Count_3] ON [dbo].[TBL_Physical_Count] 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Physical_Count_4] ON [dbo].[TBL_Physical_Count] 
(
	[P_Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Physical_Count] ON
INSERT [dbo].[TBL_Physical_Count] ([P_ID], [P_Date], [User_ID]) VALUES (1, CAST(0xF7330B00 AS Date), 14)
INSERT [dbo].[TBL_Physical_Count] ([P_ID], [P_Date], [User_ID]) VALUES (2, CAST(0xF7330B00 AS Date), 14)
INSERT [dbo].[TBL_Physical_Count] ([P_ID], [P_Date], [User_ID]) VALUES (3, CAST(0xF7330B00 AS Date), 14)
SET IDENTITY_INSERT [dbo].[TBL_Physical_Count] OFF
/****** Object:  Table [dbo].[TBL_Pending_Item]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Pending_Item](
	[Pending_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Item_ID] [bigint] NULL,
	[Pending_Date] [date] NULL,
	[User_ID] [bigint] NULL,
	[Item_QTY] [bigint] NULL,
	[Returnx] [varchar](50) NULL,
	[Receipt_ID] [bigint] NULL,
	[Return_Date] [date] NULL,
	[Sales_Detail_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_Pending_Item] PRIMARY KEY CLUSTERED 
(
	[Pending_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Pending_Item] ON
INSERT [dbo].[TBL_Pending_Item] ([Pending_ID], [Item_ID], [Pending_Date], [User_ID], [Item_QTY], [Returnx], [Receipt_ID], [Return_Date], [Sales_Detail_ID]) VALUES (1, 38, CAST(0xF7330B00 AS Date), 9, 1, N'Yes', 1, CAST(0xF7330B00 AS Date), 6)
INSERT [dbo].[TBL_Pending_Item] ([Pending_ID], [Item_ID], [Pending_Date], [User_ID], [Item_QTY], [Returnx], [Receipt_ID], [Return_Date], [Sales_Detail_ID]) VALUES (2, 56, CAST(0xF7330B00 AS Date), 12, 3, N'Yes', 6, CAST(0xF7330B00 AS Date), 17)
SET IDENTITY_INSERT [dbo].[TBL_Pending_Item] OFF
/****** Object:  Table [dbo].[TBL_Orders_Detail]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Orders_Detail](
	[Order_Dtl] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_No] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[Product_Name] [varchar](max) NULL,
	[Unit_Measure] [varchar](50) NULL,
	[Unit_Cost] [money] NULL,
	[QTY] [bigint] NULL,
	[TOTAL_COST] [money] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Orders_Detail] ON [dbo].[TBL_Orders_Detail] 
(
	[Order_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Orders_Detail_1] ON [dbo].[TBL_Orders_Detail] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Orders_Detail] ON
INSERT [dbo].[TBL_Orders_Detail] ([Order_Dtl], [Order_No], [Item_ID], [Product_Name], [Unit_Measure], [Unit_Cost], [QTY], [TOTAL_COST]) VALUES (1, 1, 16, N'Halogen Bulb Narva', N'Piece(s)', 100.8000, 4, 403.2000)
INSERT [dbo].[TBL_Orders_Detail] ([Order_Dtl], [Order_No], [Item_ID], [Product_Name], [Unit_Measure], [Unit_Cost], [QTY], [TOTAL_COST]) VALUES (2, 1, 19, N'Auto Bulb "Narva"', N'Piece(s)', 13.4400, 4, 53.7600)
INSERT [dbo].[TBL_Orders_Detail] ([Order_Dtl], [Order_No], [Item_ID], [Product_Name], [Unit_Measure], [Unit_Cost], [QTY], [TOTAL_COST]) VALUES (3, 1, 34, N'Exhaust Manifold Gasket 5k', N'Piece(s)', 43.4560, 1, 43.4560)
SET IDENTITY_INSERT [dbo].[TBL_Orders_Detail] OFF
/****** Object:  Table [dbo].[TBL_Orders]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Orders](
	[Order_No] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_Date] [date] NULL,
	[Product_Total] [money] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Orders] ON [dbo].[TBL_Orders] 
(
	[Order_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Orders] ON
INSERT [dbo].[TBL_Orders] ([Order_No], [Order_Date], [Product_Total]) VALUES (1, CAST(0xF7330B00 AS Date), 500.4160)
INSERT [dbo].[TBL_Orders] ([Order_No], [Order_Date], [Product_Total]) VALUES (2, CAST(0xF7330B00 AS Date), 1363.9360)
INSERT [dbo].[TBL_Orders] ([Order_No], [Order_Date], [Product_Total]) VALUES (3, CAST(0xF7330B00 AS Date), 2800.0000)
SET IDENTITY_INSERT [dbo].[TBL_Orders] OFF
/****** Object:  Table [dbo].[TBL_Group]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Group](
	[Group_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Group_Name] [varchar](max) NULL,
	[Group_Description] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_Group] PRIMARY KEY CLUSTERED 
(
	[Group_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Group] ON
INSERT [dbo].[TBL_Group] ([Group_ID], [Group_Name], [Group_Description]) VALUES (1, N'Maxx Brand', N'Maxx Brand')
INSERT [dbo].[TBL_Group] ([Group_ID], [Group_Name], [Group_Description]) VALUES (2, N'Amco', N'Transmission Fluid')
INSERT [dbo].[TBL_Group] ([Group_ID], [Group_Name], [Group_Description]) VALUES (3, N'Halogen Bulb', N'Halogen Bulb')
SET IDENTITY_INSERT [dbo].[TBL_Group] OFF
/****** Object:  Table [dbo].[TBL_Globaldata]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Globaldata](
	[Buss_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BussName] [varchar](max) NULL,
	[BussLocation] [varchar](max) NULL,
	[BussVaT] [float] NULL,
	[BussContact] [varchar](max) NULL,
	[Tin] [varchar](50) NULL,
	[busslocal] [varchar](max) NULL,
	[Email_Address] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_Globaldata] PRIMARY KEY CLUSTERED 
(
	[Buss_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Globaldata] ON
INSERT [dbo].[TBL_Globaldata] ([Buss_ID], [BussName], [BussLocation], [BussVaT], [BussContact], [Tin], [busslocal], [Email_Address], [Website]) VALUES (1, N'Gazuto Merchandising Inc', N'Panay Ave QC', 12, N'410-01-78', N'258-715-834-000', N'', N'gazutoemail@yahoo.com', N'www.gazuto.com.ph')
SET IDENTITY_INSERT [dbo].[TBL_Globaldata] OFF
/****** Object:  Table [dbo].[TBL_Deffective_PO_Return_Details]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Deffective_PO_Return_Details](
	[Def_Return_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Purchase_ID] [bigint] NULL,
	[Purchase_Detail_ID] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[Return_QTY] [bigint] NULL,
	[Unit] [varchar](50) NULL,
	[Return_ID] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_Details] ON [dbo].[TBL_Deffective_PO_Return_Details] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_Details_1] ON [dbo].[TBL_Deffective_PO_Return_Details] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_Details_2] ON [dbo].[TBL_Deffective_PO_Return_Details] 
(
	[Purchase_Detail_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_Details_3] ON [dbo].[TBL_Deffective_PO_Return_Details] 
(
	[Return_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Return_Details] ON
INSERT [dbo].[TBL_Deffective_PO_Return_Details] ([Def_Return_ID], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Return_QTY], [Unit], [Return_ID]) VALUES (1, 3, 30, 38, 1, N'Piece(s)', 1)
INSERT [dbo].[TBL_Deffective_PO_Return_Details] ([Def_Return_ID], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Return_QTY], [Unit], [Return_ID]) VALUES (2, 1, 14, 20, 10, N'Piece(s)', 2)
INSERT [dbo].[TBL_Deffective_PO_Return_Details] ([Def_Return_ID], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Return_QTY], [Unit], [Return_ID]) VALUES (3, 3, 20, 47, 2, N'Piece(s)', 3)
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Return_Details] OFF
/****** Object:  Table [dbo].[TBL_Deffective_PO_Return]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Deffective_PO_Return](
	[Return_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Purchase_ID] [bigint] NULL,
	[SupplierName] [varchar](max) NULL,
	[Delivery_Term] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Return_Date] [date] NULL,
	[DEF_PO_ID] [bigint] NULL,
	[Fully_Return] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return] ON [dbo].[TBL_Deffective_PO_Return] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_1] ON [dbo].[TBL_Deffective_PO_Return] 
(
	[Return_Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_2] ON [dbo].[TBL_Deffective_PO_Return] 
(
	[Return_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Return_3] ON [dbo].[TBL_Deffective_PO_Return] 
(
	[DEF_PO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Return] ON
INSERT [dbo].[TBL_Deffective_PO_Return] ([Return_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [DEF_PO_ID], [Fully_Return]) VALUES (1, 3, N'Genstar Auto Supply', N'Paid after deliver', N'Taft Ave. Ext.$..$ Pasay City', CAST(0xF7330B00 AS Date), 1, N'Yes')
INSERT [dbo].[TBL_Deffective_PO_Return] ([Return_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [DEF_PO_ID], [Fully_Return]) VALUES (2, 1, N'Eco Parts Commercial', N'Paid after deliver', N'917-B Aurora Boulevard Silangan Cubao Quezon City', CAST(0xF7330B00 AS Date), 2, N'Yes')
INSERT [dbo].[TBL_Deffective_PO_Return] ([Return_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [DEF_PO_ID], [Fully_Return]) VALUES (3, 3, N'Genstar Auto Supply', N'Paid after deliver', N'Taft Ave. Ext.$..$ Pasay City', CAST(0xF7330B00 AS Date), 3, N'Yes')
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Return] OFF
/****** Object:  Table [dbo].[TBL_Deffective_PO_Details]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Deffective_PO_Details](
	[Def_ID_Details] [bigint] IDENTITY(1,1) NOT NULL,
	[Purchase_ID] [bigint] NULL,
	[Purchase_Detail_ID] [bigint] NULL,
	[Item_ID] [bigint] NULL,
	[Def_QTY] [bigint] NULL,
	[Unit] [varchar](50) NULL,
	[DEF_PO_ID] [bigint] NULL,
	[Pending_ID] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Details] ON [dbo].[TBL_Deffective_PO_Details] 
(
	[Pending_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Details_1] ON [dbo].[TBL_Deffective_PO_Details] 
(
	[Def_ID_Details] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Details_3] ON [dbo].[TBL_Deffective_PO_Details] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Details_4] ON [dbo].[TBL_Deffective_PO_Details] 
(
	[Purchase_Detail_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO_Details_5] ON [dbo].[TBL_Deffective_PO_Details] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Details] ON
INSERT [dbo].[TBL_Deffective_PO_Details] ([Def_ID_Details], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Def_QTY], [Unit], [DEF_PO_ID], [Pending_ID]) VALUES (1, 3, 30, 38, 1, N'Piece(s)', 1, 1)
INSERT [dbo].[TBL_Deffective_PO_Details] ([Def_ID_Details], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Def_QTY], [Unit], [DEF_PO_ID], [Pending_ID]) VALUES (2, 1, 14, 20, 10, N'Piece(s)', 2, 0)
INSERT [dbo].[TBL_Deffective_PO_Details] ([Def_ID_Details], [Purchase_ID], [Purchase_Detail_ID], [Item_ID], [Def_QTY], [Unit], [DEF_PO_ID], [Pending_ID]) VALUES (3, 3, 20, 47, 2, N'Piece(s)', 3, 0)
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO_Details] OFF
/****** Object:  Table [dbo].[TBL_Deffective_PO]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Deffective_PO](
	[DEF_PO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Purchase_ID] [bigint] NULL,
	[SupplierName] [varchar](max) NULL,
	[Delivery_Term] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Return_Date] [date] NULL,
	[Pending_ID] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Deffective_PO] ON [dbo].[TBL_Deffective_PO] 
(
	[Purchase_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO] ON
INSERT [dbo].[TBL_Deffective_PO] ([DEF_PO_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [Pending_ID]) VALUES (1, 3, N'Genstar Auto Supply', N'Paid after deliver', N'Taft Ave. Ext.$..$ Pasay City', CAST(0xF7330B00 AS Date), 1)
INSERT [dbo].[TBL_Deffective_PO] ([DEF_PO_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [Pending_ID]) VALUES (2, 1, N'Eco Parts Commercial', N'Paid after deliver', N'917-B Aurora Boulevard Silangan Cubao Quezon City', CAST(0xF7330B00 AS Date), 0)
INSERT [dbo].[TBL_Deffective_PO] ([DEF_PO_ID], [Purchase_ID], [SupplierName], [Delivery_Term], [Address], [Return_Date], [Pending_ID]) VALUES (3, 3, N'Genstar Auto Supply', N'Paid after deliver', N'Taft Ave. Ext.$..$ Pasay City', CAST(0xF7330B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[TBL_Deffective_PO] OFF
/****** Object:  Table [dbo].[TBL_Category_Item_File]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Category_Item_File](
	[Catg_ID] [bigint] NULL,
	[Item_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](max) NULL,
	[Item_Description] [varchar](max) NULL,
	[Item_BarCode] [bigint] NULL,
	[Item_Reorder_Point] [bigint] NULL,
	[Item_Price] [money] NULL,
	[Unit_Measure] [varchar](50) NULL,
	[Item_Org_Price] [money] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Category_Item_File] ON [dbo].[TBL_Category_Item_File] 
(
	[Item_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Category_Item_File_2] ON [dbo].[TBL_Category_Item_File] 
(
	[Catg_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Category_Item_File] ON
INSERT [dbo].[TBL_Category_Item_File] ([Catg_ID], [Item_ID], [Item_Name], [Item_Description], [Item_BarCode], [Item_Reorder_Point], [Item_Price], [Unit_Measure], [Item_Org_Price]) VALUES (1, 1, N'Bumper Support', N'MB-109915', 9734, 3, 168.0000, N'Piece(s)', 150.0000)
INSERT [dbo].[TBL_Category_Item_File] ([Catg_ID], [Item_ID], [Item_Name], [Item_Description], [Item_BarCode], [Item_Reorder_Point], [Item_Price], [Unit_Measure], [Item_Org_Price]) VALUES (1, 2, N'Bumper Support', N'MB-109916', 9735, 3, 168.0000, N'Piece(s)', 150.0000)
INSERT [dbo].[TBL_Category_Item_File] ([Catg_ID], [Item_ID], [Item_Name], [Item_Description], [Item_BarCode], [Item_Reorder_Point], [Item_Price], [Unit_Measure], [Item_Org_Price]) VALUES (2, 3, N'Center Bearing Assembly', N'1-37510-105-10', 83274, 1, 757.1200, N'Piece(s)', 676.0000)
SET IDENTITY_INSERT [dbo].[TBL_Category_Item_File] OFF
/****** Object:  Table [dbo].[TBL_Category_File]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Category_File](
	[Catg_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Catg_Name] [varchar](max) NULL,
	[Catg_Description] [varchar](max) NULL,
	[Group_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_Category_File] PRIMARY KEY CLUSTERED 
(
	[Catg_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Category_File] ON [dbo].[TBL_Category_File] 
(
	[Group_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Category_File] ON
INSERT [dbo].[TBL_Category_File] ([Catg_ID], [Catg_Name], [Catg_Description], [Group_ID]) VALUES (1, N'Bumper Support', N'Maxx Brand', 1)
INSERT [dbo].[TBL_Category_File] ([Catg_ID], [Catg_Name], [Catg_Description], [Group_ID]) VALUES (2, N'Center Bearing Assembly', N'Maxx Brand', 1)
INSERT [dbo].[TBL_Category_File] ([Catg_ID], [Catg_Name], [Catg_Description], [Group_ID]) VALUES (3, N'Engine Support', N'Maxx Brand', 1)
SET IDENTITY_INSERT [dbo].[TBL_Category_File] OFF
/****** Object:  Table [dbo].[TBL_Barcode]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Barcode](
	[Barcode1] [varchar](max) NULL,
	[Barcode2] [varchar](max) NULL,
	[Barcode3] [varchar](max) NULL,
	[Barcode4] [varchar](max) NULL,
	[Barcode5] [varchar](max) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TBL_Barcode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Barcode] ON [dbo].[TBL_Barcode] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Barcode] ON
INSERT [dbo].[TBL_Barcode] ([Barcode1], [Barcode2], [Barcode3], [Barcode4], [Barcode5], [ID]) VALUES (N'441123', N'1203978273198', N'8641523', NULL, NULL, 19)
SET IDENTITY_INSERT [dbo].[TBL_Barcode] OFF
/****** Object:  Table [dbo].[TBL_Audit_Trail]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Audit_Trail](
	[Audit_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [bigint] NOT NULL,
	[Date] [date] NULL,
	[Action] [varchar](50) NULL,
	[Timex] [varchar](50) NULL,
	[Log_ID] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Audit_Trail] ON [dbo].[TBL_Audit_Trail] 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Audit_Trail_1] ON [dbo].[TBL_Audit_Trail] 
(
	[Log_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Audit_Trail_4] ON [dbo].[TBL_Audit_Trail] 
(
	[Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Audit_Trail] ON
INSERT [dbo].[TBL_Audit_Trail] ([Audit_ID], [User_ID], [Date], [Action], [Timex], [Log_ID]) VALUES (2, 9, CAST(0xF7330B00 AS Date), N'Login to system ', N'12:09:30 PM', 2)
INSERT [dbo].[TBL_Audit_Trail] ([Audit_ID], [User_ID], [Date], [Action], [Timex], [Log_ID]) VALUES (3, 9, CAST(0xF7330B00 AS Date), N'View Products Purchasing Order and Receive Form', N'12:09:47 PM', 2)
INSERT [dbo].[TBL_Audit_Trail] ([Audit_ID], [User_ID], [Date], [Action], [Timex], [Log_ID]) VALUES (4, 9, CAST(0xF7330B00 AS Date), N'Add New Purchase Order Stocks', N'12:12:01 PM', 2)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[TBL_Audit_Trail] OFF
/****** Object:  Table [dbo].[TBL_Audit_Log]    Script Date: 04/17/2011 02:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Audit_Log](
	[Log_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [bigint] NOT NULL,
	[LOGIN] [varchar](50) NULL,
	[LOGOUT] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Audit_Log_1] ON [dbo].[TBL_Audit_Log] 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TBL_Audit_Log_2] ON [dbo].[TBL_Audit_Log] 
(
	[Log_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Audit_Log] ON
INSERT [dbo].[TBL_Audit_Log] ([Log_ID], [User_ID], [LOGIN], [LOGOUT]) VALUES (2, 9, N'12:09:30 PM', N'12:54:45 PM')
INSERT [dbo].[TBL_Audit_Log] ([Log_ID], [User_ID], [LOGIN], [LOGOUT]) VALUES (3, 9, N'12:12:09 PM', N'--')
INSERT [dbo].[TBL_Audit_Log] ([Log_ID], [User_ID], [LOGIN], [LOGOUT]) VALUES (4, 9, N'12:16:29 PM', N'12:17:42 PM')
SET IDENTITY_INSERT [dbo].[TBL_Audit_Log] OFF
/****** Object:  Default [DF_TBL_Audit_Log_LOGOUT]    Script Date: 04/17/2011 02:35:39 ******/
ALTER TABLE [dbo].[TBL_Audit_Log] ADD  CONSTRAINT [DF_TBL_Audit_Log_LOGOUT]  DEFAULT ('--') FOR [LOGOUT]
GO
